@font-face {
  font-family: "ApfelGrotezk";
  src: url("./fonts/ApfelGrotezk-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "ApfelGrotezk";
  src: url("./fonts/ApfelGrotezk-Mittel.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
} */
